<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html;	charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p>
		<span th:text="'You are betting on team: ' + ${team}"> </span> <span
			th:text="'Your rate: ' + ${rate}"> </span>
	</p>
	<div th:unless="${session.currentBetCart}">
		<form th:action="@{/bet/add}" method="post">
			<div>
				Type in the amount: <input type="number" name="amount" />
			</div>
			<div>
				<input type="submit" value="Add bet to basket" />
			</div>
		</form>
	</div>

	<div th:if="${session.currentBetCart}">
	<form th:action="@{/bet/add}" method="post">
		Do You want to change the amount of Your bet? <input type="number" name="newAmount" />
		Your current amount:
			<span th:text="${session.currentAmount}"></span>
			<div>
				<input type="submit" value="Add bet to basket" />
			</div>
		</form>
	</div>
</body>
</html>