<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html;	charset=UTF-8" />
<title>Add friends</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
	integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
	crossorigin="anonymous" />
<link rel="stylesheet" href="../css/main.css" />


</head>
<body sec:authorize="isAuthenticated()"
	style="background-color: #e7e8e8">
	<nav th:replace="fragments/usermenu"></nav>

	<div class="container">
		<div class="row my-5 py-5 pl-4">
			<div class="col ">

				<div class="col ml-4 mr-3">
					<div>
					
					<div th:if="${message}" class="alert alert-success" role="alert">
					<span th:text="${message}"> </span>
				</div>
					
						<div th:if="${invites}">
							<h2>Your invites to Group bets:</h2>
							<ul class="list-group">
								<li th:each="invite: ${invites}" class="list-group-item"><span
									th:text="${invite.sender.username}"></span> Group bet on:
									<ul>
										<li th:each="bet: ${invite.groupBet.bet}"><span
											th:text="'Bet is on: ' + ${bet.betOn} + ' Game: '+ ${bet.game.event.homeTeamName}+' vs. '+${bet.game.event.awayTeamName}"
											style="color: #df2935"></span></li>

									</ul>
									<span th:text="'Cost: '+${invite.groupBet.joinedAmount}"></span> 
									
									<span th:with="result=${invite.groupBet.joinedAmount * invite.groupBet.joinedRating}"><span
							th:text="'Possible win now: '+${result}" style="color: #df2935"></span></span>
									
									<a th:href="@{/bet/acceptInvite(invite=${invite.id})}"><input
										type="submit" value="Accept invite"
										class="btn btn-outline-success my-2 my-sm-0 mx-3" /></a> <a
									th:href="@{/bet/discardInvite(invite=${invite.id})}"><input
										type="submit" value="Discard invite"
										class="btn btn-outline-success my-2 my-sm-0" /></a></li>
							</ul>
						</div>
						<div th:unless="${invites}">
							<div class="alert alert-warning" role="alert">You have no
								invites :(</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<footer th:include="fragments/footer	::	pagefooter"></footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
		integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
		crossorigin="anonymous"></script>


</body>
</html>