<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html;	charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p>
		<span th:text="'Change Your password'"> </span>
	</p>
	<p	th:if="${message}"	th:text="${message}">Message if something goes wrong</p>
	
	<form th:action="@{/user/changePassword}" method="post">
		<div>
			<label> Your old password: <input type="password"
				name="oldPassword" />
			</label>
		</div>
		<div>
			<label> New password: <input type="password" name="newPassword" />
			</label>
		</div>
		<div>
			<label> Confirm new password: <input type="password" name="confirmNewPassword" />
			</label>
		</div>
			<input type="submit" value="Change password" />
	</form>
</body>
</html>