<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html;	charset=UTF-8" />
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
	integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
	crossorigin="anonymous" />
</head>
<body>

	<div>
		<span th:text="'Here are messages that You have recieved:'"> </span>
		<ul>
			<li th:each="recieveM: ${recieved}"><span
				th:text="'From: ' + ${recieveM.sender.username}"></span>

				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" th:href="'#collapse'+${recieveM.id}"><span
									th:text="${recieveM.title}"></span></a>
							</h4>
						</div>
						<div th:id="'collapse'+(${recieveM.id})" class="panel-collapse collapse">
							<div class="panel-body"><span th:text="${recieveM.content}"></span></div>
						</div>
					</div>
				</div>
				</li>
		</ul>
	</div>
	<p>
		<a th:href="@{/user/sendMessage}" th:text="'Send new message'"></a>
	</p>
	<div>
		<span th:text="'Here are messages that You have send:'"> </span>
		<ul>
		<li th:each="sendM: ${send}">
		To:
				<ul>
					<li th:each="sendToU: ${sendM.recievers}"><span
						th:text="${sendToU.username}"></span></li>
				</ul>
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" th:href="'#collapseS'+${sendM.id}"><span
									th:text="${sendM.title}"></span></a>
							</h4>
						</div>
						<div th:id="'collapseS'+(${sendM.id})" class="panel-collapse collapse">
							<div class="panel-body"><span th:text="${sendM.content}"></span></div>
						</div>
					</div>
				</div>
				</li>
		</ul>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
		integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
		crossorigin="anonymous"></script>

</body>
</html>