html {
  position: relative;
  min-height: 100%;
  background-color: #df2935;
}

body {
		padding-top: 105px;
		font-family: 'Open Sans', sans-serif;
		color: #8b8d8fff;
	}

.navbar-light {
	background-color: #ffffff;
}

.container {
	background-color: #ffffff;
}
	

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  line-height: 40px;
  background-color: #f4bb00;
  color: #ffffff;
}

.footer a {
	color: #ffffff;
}

.footer a:hover {
	color: #e86870;
}

.btn-outline-success {
	color: #ffffff;
	background-color: #df2935;
	border-color: #df2935;
}

.btn-outline-success:hover {
	color: #ffffff;
	background-color: #8e1b22;
	border-color: #8e1b22;
}

.btn-outline-success:active {
	color: #ffffff !important;
	background-color: #8e1b22 !important;
	border-color: #8e1b22 !important;
	outline: none !important;
}

.btn-back {
	color: #df2935;
	background-color: #ffffff;
	border-color: #df2935;
}

a {
	color: #df2935 !important;
}

a:hover {
	color: #8e1b22ff !important;
}

label {
	color: #001021;
}

#topbg {
	background: url(../images/bg-top.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

h1 {
	color: #df2935;
	font-weight: bold;
}

h2 {
	color: #df2935;
}

ul {
  list-style-type: none;
}

#community {
	background-image: url("../circle.png");
	background-repeat: no-repeat;
	
	background-position: bottom right;
}

#liner {
	background-image: url("../line.png");
	background-repeat: no-repeat;
	
	background-position: center;
}

#livenow {
	background-image: url("../circle2.png");
	background-repeat: no-repeat;
	background-color: #001021;
	background-position: top left;
}

.now {
	color: #df2935ff;
}

.match {
	background-color: #e7e8e8;
	border-radius: 10px;
}

.tborder{
	background-color: #e7e8e8;
	border-color: #8b8d8f;
	border-width: 1px !important;
	border-style: solid;
}

.promobox {
	border-radius: 10px;
	border-color: #e7e8e8;
	border-width: 2px !important;
	border-style: solid;
}

.promobox:hover {background:rgba(231,232,232,0.5);}

#promo {
	background: url("../boxers.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:80%;
}

#login-right {
	background: url("../images/green.jpeg") no-repeat left fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 300px;
}

#bet {
	background: url("../images/bet.jpg") no-repeat center fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 400px;
}

#register-right {
	background: url("../images/register.jpeg") no-repeat bottom left fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 800px;
}

#success {
	background: url("../images/success.jpeg") no-repeat center !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 400px;
}

#chgpassword {
	background: url("../images/change_password.jpeg") no-repeat center fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 400px;
}

#edit_data {
	background: url("../images/edit_data.png") no-repeat center fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 400px;
}

#addmessage {
	background: url("../images/message.jpeg") no-repeat left bottom fixed !important; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	min-height: 500px;
}
.fixed-top-2 {
    margin-top: 56px;
	background-color: #df2935;
	color: #ffffff;
}

.fixed-top-2 a {
  color: #ffffff !important;
}

.fixed-top-2 a:hover {
  color: #ffffff !important;
}
.dropdown-menu a {
  color: #df2935 !important;
}

.dropdown-menu a:hover {
  color: #df2935 !important;
  background-image:none !important;
  background-color:#bcbec3;
}

.dropdown-menu a:focus {
  color: #df2935 !important;
  background-image:none !important;
  background-color:#bcbec3;
}

.usertbl {
	font-size: 12px;
	line-height: 1;
}

.usertbl th {
	color: #001021;
}

.usertbl td {
	vertical-align: middle!important;
}

.betstbl {
	height: 300px;
	overflow: auto;
}

.list-group-item-red {
	    color: #ffffff;
		background-color: #df2935;
}

.list-group-item-blue {
	    color: #ffffff;
		background-color: #001021;
}