<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html;	charset=UTF-8" />
<title>Index</title>
</head>
<body>
	<!-- <div sec:authorize="isAuthenticated()">
		<p>
		LoggedAs: <span sec:authentication="name"></span>
		</p>
		<p>
		With roles: <span sec:authentication="authorities"></span>
		</p>
		<a th:href="@{/logout}">Log out</a>
	</div> -->
	<p th:text="'Fuck it it does not work'">Hello txt</p>
	<p	th:if="${message}"	th:text="${message}"></p>
</body>
</html>